/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

/*style for modal changepass*/
#alertMessageModal img {
    margin-top: -50px;
    width: 80px;
}


#alertMessageModal .modal-body {
    font-size: 14px;
    font-weight: 100;
}

#alertMessageModal .alert-header {
    background-color: #fff;
}

#alertMessageModal .modal-content {
    width: 500px;
    border-radius: 20px;
}

#alertMessageModal .btn-default {
    background-color: #a00a23;
    color: #ffb2c0;
    border-radius: 20px;
    padding: 10px;
    width: 150px;
    border: none;
}

#alertMessageModal .modal-dialog {
    max-width: 500px;
    margin-top: 150px;
}

#alertMessageModal .modal-content {
    text-align: center;
}

#alertMessageModal .modal-header {
    border-bottom: 0px;
}

#alertMessageModal .modal-footer {
    border-top: 0px;
    text-align: center;
    border-bottom: 0px;
}

#alertMessageModal .modal-body {
    position: relative;
    padding: 15px;
}

/* style for OTP  */

.modal-otp .modal-content {
    min-width: unset;
}

.modal-otp .icon-key {
    width: 85px;
    top: -40px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
}

.modal-otp .modal-dialog {
    width: 600px !important;
}

.modal-otp .group-otp {
    display: flex;
    justify-content: center;
}

.closemodalOTP {
    position: absolute;
    right: 8px;
    top: 8px;
    cursor: pointer;
}

.modal-otp .title {
    color: #A00A23;
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 10px;
    padding-top: 5px;
}

.modal-otp .summary {
    color: #27272A;
    margin: 0px;
    font-size: 14px;
    padding: 10px 0px;
}

.modal-otp .modal-body {
    padding: 0px 50px 15px !important;
}

.modal-otp .group-otp .form-control {
    margin: 10px;
    height: 60px;
    width: 52px;
    border-radius: 8px;
    text-align: center;
    font-size: 26px;
    font-weight: bold;
    background: #fff;
    border: 1px solid #e0dfdf;
    color: #1F2226;
    box-shadow: none;
}

    .modal-otp .group-otp .form-control:focus {
        box-shadow: unset;
        border: 1px solid #84888e;
    }

.modal-otp .text {
    background: #F5F5FA;
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
}

.modal-otp .modal-footer {
    display: block;
}

.modal-otp .text ul {
    padding: 0px 15px;
    margin: 0px;
}

.err {
    color: #FF424E;
}

    .err .form-control {
        color: #FF424E;
        border: 1px solid #FF424E;
    }

.resendotp {
    color: #A6A6B0;
    padding-top: 20px;
}

.box-warning {
    background: #A6A6B0;
    border-radius: 8px;
    padding: 5px;
    color: #FFFFFF;
    margin-bottom: 20px;
}

.modal-otp .modal-content {
    border-radius: 16px;
}

.btn-back2 {
    border-radius: 25px;
    padding: 5px 20px;
    color: #159957;
    background-color: #fff;
    border: 1px solid #159957;
}

.group-error {
    display: none;
}

.btnResendOTP {
    cursor: pointer;
    color: #C1C7CD;
}

#modalOTP .btn-success {
    color: #fff;
    border-color: #A00A23;
    background-color: #A00A23;
    border-radius: 25px;
    padding: 6px 25px;
}

    #modalOTP .btn-success:focus {
        box-shadow: unset !important;
    }

#modalOTP .btn:focus {
    box-shadow: unset !important;
    outline: unset;
}

#modalOTP .modal-footer {
    display: block;
    text-align: center;
}

#modalOTP .btnCloseModal {
    color: #A00A23;
    border-color: #A00A23;
    background-color: #fff;
    border-radius: 20px;
    min-width: 100px;
}

#modalOTP .modal-header {
    display: block;
    padding: 30px 0px;
}

#modalOTP .modal-footer {
    border-top: none;
    padding-bottom: 1.5rem;
    padding-top: 0rem;
}

#modalOTP .modal-header {
    border-bottom: none;
}

#modalOTP .p-bottom {
    padding-bottom: 1.5rem;
}

#modalOTP {
    color: #27272A;
}

    #modalOTP .modal-auto {
        width: auto;
    }

    #modalOTP .modal-body {
        padding-bottom: 1.5rem;
        padding-top: 0px;
    }

    #modalOTP .green {
        color: #2BB971;
        cursor: pointer;
    }

.modal-common .center {
    padding-top: 10px;
}

.smartOTP, .smsOTP {
    display: none;
}

#mesErrOTP {
    display: none;
}

.group-otp.err .otp-number {
    color: #FF424E;
    border: 1px solid #FF424E;
    font-size: 12px;
}

.modal-otp .box-warning1 {
    text-align: left;
    background: #FFF5EB;
    border: 1px solid #FC820A;
    padding: 10px;
    border-radius: 8px;
}

.modal-otp .box-warning2 {
    background: #F5F5FA;
    border-radius: 8px;
    padding: 10px;
    margin-top: 20px;
    font-weight: 400;
}

.modal-otp .box-warning3 {
    text-align: left;
    background: #F5F5FA;
    border-radius: 8px;
    padding: 15px 10px;
    margin-top: 25px;
    margin-bottom: 5px;
}

#btnResendOTP.active {
    color: #1A94FF;
    cursor: pointer;
}
/* end style for OTP  */


.formchangepass .summary {
    font-weight: bold;
    color: #A00A23;
    font-size: 16px;
}

.formchangepass .title {
    font-size: 12px;
}

.formchangepass .acc_title_change {
    font-style: unset;
    width: 100%;
}

.form-changepass .btnChangePass {
    display: block;
    width: 100%;
    text-align: center;
    background: #A00A23;
    color: #fff;
}

.form-changepass .btnChangePass {
    display: block;
    width: 100%;
    text-align: center;
    background: #A00A23;
    color: #fff;
}

.form-changepass .rule {
    color: #000;
    padding: 10px 0px 0px;
}

.rule li {
    padding: 6px 0px 5px 0px;
}

.rule img {
    position: relative;
    top: -2px;
    margin-right: 5px;
}

/* modalChangeSuccess */
.modal-changesuccess .modal-header {
    border-bottom: unset;
}

.modal-changesuccess .modal-footer {
    border-top: unset;
}

.modal-changesuccess .modal-header {
    background-color: #A00A23;
    border-radius: 5px 5px 0px 0px;
}

.modal-changesuccess .title {
    font-size: 20px;
    color: #A00A23;
    font-weight: bold;
    padding: 5px 0px 30px;
}

.modal-changesuccess img {
    font-size: 20px;
    color: #A00A23;
    font-weight: bold;
}

.modal-changesuccess .btn-GoHome {
    background: #A00A23;
    color: #fff;
    border-radius: 34px;
    padding: 7px 40px;
    margin-bottom: 15px;
}

.modal-changesuccess .modal-footer {
    text-align: center;
}

.modal-changesuccess .modal-dialog {
    margin-top: 150px;
}
/* end modalChangeSuccess*/

.modal-dialog.modal-dialog-centered {
    width: 450px !important;
    max-width: 750px;
    min-width: unset;
}

.modal-dialog.modal-dialog-centered .modal-content {
    min-width: unset;
    max-width: 500px;
}

.warning-trust-device-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    border: 1px solid #FC820A;
    border-radius: 8px;
    padding: 8px;
    margin: 0 auto;
    background-color: #FFF5EB;
    gap: 8px;
    margin-left: 15px;
    margin-right: 15px;
}

.warning-trust-device-left {
    align-self: flex-start
}

.warning-trust-device-right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.warning-trust-device-right span:first-child {
    font-size: 14px;
    line-height: 20px;
    color: #E36301;
    font-weight: 600;
    margin-bottom: 8px;
}

.warning-trust-device-right span:last-child {
    font-size: 12px;
    line-height: 16px;
    color: #27272A;
    font-weight: 400;
}

.modal-dialog.modal-dialog-centered .modal-content {
    min-width: unset;
    max-width: 500px;
}

/* giao diện mới phần MM */
.temp1_title2{
    float: left;
	font-weight: bold;
	font-size: 1.5em;
	color: rgba(0, 171, 86, 1);
	text-transform: uppercase;
}

.mes_time2{
    color: #000;
    padding: 10px 0px 10px 0px !important; 
    font-weight: bolder !important; 
    font-size:16px;
}

.cssforTUHNV label{
    font-weight:100;
    font-size: 13px;
}

.cssforTUHNV p{
    font-size:13px;
}

.cssforTUHNV .form-control{
    font-weight:bold;
}

.cssforTUHNV .btnAccept{
    background: rgba(0, 171, 86, 1); 
    border: 0px; 
    color: #fff;
}

.cssforTUHNV .btnBack{
    background: #fff; 
    border: 1px solid rgba(0, 171, 86, 1); 
    color: rgba(0, 171, 86, 1);
    margin-left: 10px;
}

.cssforTUHNV .groupbtn{
    padding-left: 15px;
}

.cssforTUHNV .btn{
    padding-left: 15px;
    padding: 6px 20px;
    border-radius: 15px;
}

.cssforTUHNV .btn:focus{
    outline:unset;
}

.cssforTUHNV .btnCyan{
    color: #fff;
    background-color: rgba(0, 171, 86, 1);
    padding: 8px 30px;
    border-radius: 19px;
    border: 0px;
}

.cssforTUHNV .btnCyan2{
    color: #fff;
    background-color: rgba(0, 171, 86, 1);
    padding: 6px 20px;
    border-radius: 19px;
    border: 0px;
    min-width: 100px;
}

.cssforTUHNV .newtable th{
    border: 1px solid rgb(195 194 194);
    border-top:0px;
    border-left:0px;
    border-bottom:0px;
}

.cssforTUHNV .newtable th:last-child{
    border-right:0px;
}

.cssforTUHNV .newtable td{
    border:0px;
    border-bottom:1px solid rgb(195 194 194);
    text-align: center;
}

.cssforTUHNV .data_grid11_head{
    background: rgba(239, 255, 244, 1);
}
 
.cssforTUHNV #newContract{
    padding:0px;
}

.cssforTUHNV .mr15{
    margin-right:15px;
}
  
.cssforTUHNV .flex-row{
    display:flex;
    flex-direction:row;
}

.cssforTUHNV .group-cycle{
    display: inline-block;
    background: rgba(239, 255, 244, 1);
    padding: 20px 100px;
    border-radius: 10px;
    border: 1px solid rgba(0, 171, 86, 1); 
    font-size: 12px;
    font-weight: 100;
}

.cssforTUHNV .colum p{
    text-align:center;
    margin-bottom:0px;
    padding:0px;
}

.cssforTUHNV .lastchild{
    font-weight:bold;
    margin-top:10px;
}

.cssforTUHNV .btnExecute{
    padding: 6px 15px;
    border-radius: 20px;
    border: 0px;
    background: rgba(0, 0, 0, 0.05);
    color: #c5c5c5; 
}

.cssforTUHNV .btnExecute.active{
    background-color:rgba(0, 171, 86, 1);
    color:#fff;
}

.cssforTUHNV #txtExpProfit{
    color: rgba(0, 171, 86, 1);
}

.cssforTUHNV .mplus{
        background: rgba(0, 171, 86, 1);
    color: #fff;
    border-radius: 15px;
    padding: 4px 12px;
}

.cssforTUHNV .btnConfirm{
        background: rgba(0, 171, 86, 1);
    border: 0px;
    color: #fff; 
}

.cssforTUHNV .btnBack{
        background: #fff;
    border: 1px solid rgba(0, 171, 86, 1);
    color: rgba(0, 171, 86, 1);
}


.cssforTUHNV .boxTAndC p{
    margin: 0px;
    padding-top: 20px;
    font-weight: 100;
    font-size: 13px;
    padding: 7px 0px 7px 0px;
}

.cssforTUHNV .boxTAndC .group{
    border-radius: 5px;
    display: inline-block;
    padding: 0px 10px 0px 10px;
    background: #fff;
    color: rgba(40, 61, 128, 1);
}

.cssforTUHNV .boxTAndC .icon{
    width: 6px;
    height: 6px;
    display: inline-block;
    background: rgba(40, 61, 128, 1);
    border-radius: 4px;
    margin-right: 7px;
    position: relative;
    bottom: 1px;
}

.cssforTUHNV .texttitle1{
    font-weight: 100;
    padding-top: 15px;
}
 
/* css for MM */ 
.group-unit {
    position: relative;
}

.group-unit .unit {
    position: absolute;
    top: 30px;
    right: 5px;
}

.group-unit .pdr40 {
    padding-right:40px;
}

.text-left {
    text-align: left !important;
}

